

body{
  background-color: #0B0E22;
  align:'center';
}

.venue{
  align:'center';
}

#inputtext{
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 'light';
  font-size: 14pt;
  color: #000000;
  padding:2px 2px 2px 16px;
  text-align:'left';
  margin-bottom:5pt;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: 'light';
  color:#FFFFFF;
  text-align:'center';
}


.card-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 'medium';
  font-size: 18pt;
  color: #FFFFFF;
  text-align:'left';
  margin-left: 5pt;
}

.location{
  font-family: 'Roboto', sans-serif;
  font-weight: 'medium';
  font-size: 11pt;
  color: #FFFFFF;
  text-align:'left';
  margin-left: 5pt;

}

.card-img-top{
  border-radius: 10px;
  margin: 5pt 5pt 5pt 5pt ;
  }


/* For desktop: */
.card-img-top {
  width: 80%;
  height:300pt;
}
.card-text {width: 80%;}

#inputtext {
  width: 80%;
  height:31pt;
}



@media only screen and (max-width: 768px) {
    /* For mobile */
    [class*="card-"] {
        width: 100%;
        margin: 0rem auto;
    }
    .card-img-top{
      height:150pt;
      width: 100%;
    }

    #inputtext{
      width: 94%;
      height:20pt;
    }
    .col{
      padding: 1.3rem 0rem;
    }
    .venue h1{
    text-align: center;
    }
}
